<div class="card" *ngIf="userTasks().length">
  <div class="card-header">
    {{pageTitle()}}
  </div>

  <div class="card-body">
    <div style="height: 40px;" class="row" *ngFor="let task of userTasks()">
      <div class="col-md-6">{{task.title}}</div>
      <div class="col-md-2">{{task.completed}}</div>
      <div class="col-md-4">
        <button class='btn btn-primary'
                *ngIf="!task.completed"
                (click)="markComplete(task)">Mark as Complete
        </button>
      </div>
    </div>

  </div>
</div>