/* Home page grid and color styles */

.home-container {
  width: 100%;
  padding: 0 var(--spacing-md);
  text-align: center;
}

.home-image {
  max-height: 420px;
	padding-bottom: 1.5rem;
	width: auto;
}

