@if (selectedVehicle()) {
  <div class="card">
    <div class='card-header'>
        Cart Total
    </div>
    <div class='card-body'>
      <div class="row">
        <div class="row-label">Price (credits)</div>
        <div class="row-value">
          {{price() | number:'1.0-0'}}
        </div>
      </div>
      <div class="row">
        <div class="row-label cell-bold">Quantity</div>
        <div class="row-value">
          <input type="number"
                class="qty-input"
                [(ngModel)]="quantity">
        </div>
      </div>

      <div class="row">
        <div class="row-label">Subtotal:</div>
        <div class="row-value">
          {{subTotal() | number:'1.0-0'}}
        </div>
      </div>
      <div class="row">
        <div class="row-label">Delivery:</div>
        @if (deliveryFee()) {
        <div class="row-value">{{deliveryFee() | number:'1.2-2'}}</div>
        } @else {
        <div class="row-value free">Free</div>
        }
      </div>
      <div class="row">
        <div class="row-label">Estimated Tax:</div>
        <div class="row-value">
          {{tax() | number:'1.0-0'}}
        </div>
      </div>
      <div class="row">
        <div class="row-label"><b>Total:</b></div>
        <div class="row-value total">
          {{totalPrice() | number:'1.0-0'}}
        </div>
      </div>
    </div>
  </div>
}