<div class="card">
  <div class="card-header">
    Subscribe to our Newsletter
  </div>
  <div class="card-body">
    <form>
      <div class="row">
        <label class="row-label"
               for="firstNameId">
          First Name
        </label>
        <div class="row-value">
          <input type="text"
                 class="form-control"
                 [field]="subscribeForm.firstName"
                 id="firstNameId"
                 placeholder="First Name (optional)" />
        </div>
      </div>

      <div class="row">
        <label class="row-label"
               for="lastNameId">
          Last Name
        </label>
        <div class="row-value">
          <input type="text"
                 class="form-control"
                 [field]="subscribeForm.lastName"
                 id="lastNameId"
                 placeholder="Last Name (optional)" />
        </div>
      </div>

      <div class="row">
        <label class="row-label"
               for="emailId">
          Email <span class="text-danger">*</span>
        </label>
        <div class="row-value">
          <input type="email"
                 class="form-control"
                 [field]="subscribeForm.email"
                 id="emailId"
                 placeholder="Email (required)" />
        </div>
        @if (subscribeForm.email().invalid() && subscribeForm.email().touched()) {
          <div class="alert alert-danger">
            @for (error of subscribeForm.email().errors(); track error.kind) {
              <span>{{ error.message }}</span>
            }
          </div>
        }
      </div>

      <div class="row">
        <label class="row-label"
               for="yearsAsFanId">
          Years as a Fan
        </label>
        <div class="row-value">
          <input type="number"
                 class="form-control"
                 [field]="subscribeForm.yearsAsFan"
                 id="yearsAsFanId"
                 placeholder="How many years have you been a Star Wars fan?" />
        </div>
        @if (subscribeForm.yearsAsFan().invalid() && subscribeForm.yearsAsFan().touched()) {
          <div class="alert alert-danger">
            @for (error of subscribeForm.yearsAsFan().errors(); track error.kind) {
              <span>{{ error.message }}</span>
            }
          </div>
        }
      </div>

      <div class="row">
        <div class="row-value">
          <input type="checkbox"
                 class="form-check-input"
                 [field]="subscribeForm.priceAlerts"
                 id="priceAlertsId" />
          <label class="form-check-label"
                 for="priceAlertsId">
            Send me price alerts for new vehicles
          </label>
        </div>
      </div>

      <div class="row">
        <div class="row-value">
          <button type="button"
                  [disabled]="subscribeForm().invalid()"
                  title="Ensure the form is valid before subscribing"
                  class="btn btn-primary"
                  (click)="subscribe()">
            Subscribe
          </button>
          <button type="button"
                  class="btn btn-secondary">
            Cancel
          </button>
        </div>
      </div>
    </form>

    <!-- Success message (conditionally displayed) -->
    @if (subscribeMessage) {
      <div class="alert alert-success">
        {{ subscribeMessage }}
      </div>
    }
  </div>
</div>