<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>

  @if (vehicles().length) {
    <div class='card-body'>
      <div class="list-group">
        @for (vehicle of vehicles(); track vehicle) {
          <button type="button"
            class="list-group-item"
            [ngClass]="{'active': vehicle?.name === selectedVehicle()?.name}"
            (click)="onSelected(vehicle.name)">
            {{ vehicle.name }}
          </button>
        }
      </div>
    </div>
  }

  @if (errorMessage) {
    <div class="alert alert-danger">
      {{errorMessage }}
    </div>
  }
</div>