@if (vehicle()) {
  <div class="card">
    <div class="card-header">
      {{pageTitle()}}
    </div>
    <div class="card-body">
      <div class="row">
        <div class="row-label">Name:</div>
        <div class="row-value">{{vehicle()?.name}}</div>
      </div>
      <div class="row">
        <div class="row-label">Classification:</div>
        <div class="row-value">{{vehicle()?.vehicle_class}}</div>
      </div>
      <div class="row">
        <div class="row-label">Price (in credits):</div>
        <div class="row-value">{{vehicle()?.cost_in_credits | number:'1.2-2'}}</div>
      </div>
      <div class="row">
        <div class="row-label">Crew:</div>
        <div class="row-value">{{vehicle()?.crew}}</div>
      </div>
      <div class="row">
        <div class="row-label">Passengers:</div>
        <div class="row-value">{{vehicle()?.passengers}}</div>
      </div>
      <div class="row">
        <div class="row-label">Cargo Capacity:</div>
        <div class="row-value">{{vehicle()?.cargo_capacity}}</div>
      </div>

      @if (errorMessage()) {
        <div class="alert alert-danger">
          {{errorMessage() }}
        </div>
      } @else if (vehicleFilms()) {
        <div class="row">
          <div class="row-label">Films:</div>
          <div class="row-value">
            <ul class="list-group">
              @for (film of vehicleFilms(); track film) {
                <li class="list-group-item">
                  {{film.title}}
                </li>
              }
            </ul>
          </div>
        </div>
      }
    </div>
  </div>
}