<div class="card border-primary"
     *ngIf='item$ | async as item'>

  <div class='card-header text-primary'>
    <div class="row">
      <div class="col-md-4">Name:</div>
      <div class="col-md-6  fw-bold">{{item.vehicle.name}}</div>
      <div class="col-md-2">
        <button type="button"
                class="btn-close"
                aria-label="Close"
                (click)="onRemove()"></button>
      </div>
    </div>
  </div>

  <div class='card-body'>
    <div class="row">
      <div class="col-md-4">Price (credits):</div>
      <div class="col-md-6">{{item.vehicle.cost_in_credits | number:'1.2-2'}}</div>
    </div>
    <div class="row">
      <div class="col-md-4">Class:</div>
      <div class="col-md-6">{{item.vehicle.vehicle_class}}</div>
    </div>

    <div class="row">
      <div class="col-md-4">Quantity:</div>
      <div class="col-md-6">
        <select class="form-select"
                aria-label="Quantity list"
                style="margin-bottom: 10px;"
                [ngModel]="item.quantity"
                (change)="onQuantitySelected($any($event.target).value)">
          <option disabled
                  value="">--Select a quantity--</option>
          <option *ngFor="let q of qtyArr">{{ q }}</option>
        </select>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">Cost:</div>
      <div class="col-md-6">{{exPrice$ | async | number:'1.2-2'}}</div>
    </div>
  </div>
</div>