<div class="card border-secondary">
  <div class="card-header text-secondary fw-bold">
    {{ pageTitle }}
  </div>

  <div class="card-body">
    @if (cartItems().length) {
    <div>
      <div class="row">
        <div class="col-md-2 fw-bold">Product</div>
        <div class="col-md-2 fw-bold">Class</div>
        <div class="col-md-2 fw-bold text-center">Price (credits)</div>
        <div class="col-md-2 fw-bold text-center">Quantity</div>
        <div class="col-md-2 fw-bold text-end">Extended Price</div>
      </div>

      @for (item of cartItems(); track item) {
      <div>
        <sw-cart-item [cartItem]='item' />
      </div>
      }
    </div>
    } @else {
    No items in cart
    }
  </div>

</div>